.left {

    Border: 1px solid black;
    width: 45%;
    height: 750px;
    border-radius: 10px;
    padding-left: 20px;
    padding-top: 5px;
    background-color: lightskyblue;
  }

  .right {

    Border: 1px solid black;
    width: 45%;
    height: 750px;
    border-radius: 10px;
    padding-left: 20px;
    padding-top: 5px;
    background-color: aliceblue;
    
  }

  .container{
      display: flex;
      justify-content: space-around;
      height: 100%;
  }

  input.ng-invalid.ng-touched, select.ng-invalud.ng-touched{
      border: 2px solid red;
  }




  